@model SimpleStock.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="alert alert-danger">@Model.Message</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Requisição:</strong> <code>@Model.RequestId</code>
    </p>
}

