@model SimpleStock.Models.Category

@{
    Layout = null;
    ViewData["Title"] = "Detalhes";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Produtos na categoria <strong>@Model.Name</strong></h4>
        </div>
        <div class="modal-body">
        
            <ul class="list-group-item-info">
                @foreach (var p in Model.Products)
                {
                    <li>@p.Name</li>
                }
            </ul>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-default btn-danger btn-sm" data-dismiss="modal" value="Fechar">
        </div>
    </div>
</div>