@model SimpleStock.Models.Category

@{
    Layout = null;
    ViewData["Title"] = "Editar";
}



<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Editar produto</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <form asp-action="Edit">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label col-md-3"></label>
                        <div class="col-md-6">
                            <input asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-danger btn-sm" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-success btn-sm" value="Salvar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
